
<div class="form_text">



  <h1 class="center "> List of Businesses </h1>

  <br>
  <br>

<h2>Find nearby Businesses!</h2>
<%= form_tag businesses_path, method: :get do %>
   <%= text_field_tag :search_address, params[:search_address] %>
   <%= submit_tag "Find!" %>
<% end %>


  <div class="centered">


  <% @business.each do |business| %>


   <div class=" ">
    <table class="business_list">
      <tr>
        <td class="row1 ">
          Business Name
        </td>
        <td class="row2 ">
          <%= business.business_name %>
        </td>

      <% if current_user %>
          <% if Favourite.where(user_id: current_user, business_id: business.id).last != nil%>
          <% getrid = Favourite.where(user_id: current_user, business_id: business.id).last.id %>
          <% end %>

            <% if Favourite.where(user_id: current_user, business_id: business.id).last == ''%>
            <td  rowspan="3" data-to-delete= '<%= getrid %>'  data-user= "<%=current_user.id %>" data-bus= "<%= business.id%>" class="empty_heart">

            <% elsif Favourite.where(user_id: current_user, business_id: business.id).last == nil%>
            <td rowspan="3" data-to-delete= ''  data-user= "<%=current_user.id %>" data-bus= "<%= business.id%>" class="empty_heart">

            <% else %>
            <td rowspan="3" data-to-delete= '<%= getrid %>'  data-user= "<%=current_user.id %>" data-bus= "<%= business.id%>" class="full_heart">
            <%end %>
        <% else %>
      <% end %>

      </td>

      </tr>
    <tr>
      <td class="row1 ">
        Address
      </td>
      <td class="row2 ">
      <%=   business.business_address %>
      </td>
    </tr>

    <tr>
      <td class="row1 ">
        City
      </td>
      <td class="">
      <%#=   business.city.city_name %> Toronto
      </td>
    </tr>




    <tr>
      <td rowspan= '3'>

<br>
  <%= link_to 'View', business.url,  :target => "_blank", class: 'button' %>


      </td>
    </tr>
  <br>
    </table>
  <br>
  <br>

   </div>
  <% end %>

  </div>

  <% if @business == Business.order("business_name").page(params[:page]).per(10) %>
  <%= paginate @business%>
  <% else %>
    <%= paginate @business2%>
  
  <% end %>
</div>
