<h1> List of Businesses </h1>

<br>
<br>
<div class="centered">
  <%= button_to 'Add New Business', new_business_path, method: "get", class: 'viewbutton' %>
</div>


<% @business.each do |business| %>


 <div class="centered">
  <table>
    <tr>
      <td>
        Business Name
      </td>
      <td>
        <%= business.business_name %>
      </td>

    <% if Favourite.where(user_id: current_user, business_id: business.id).last != nil%>
    <%= getrid = Favourite.where(user_id: current_user, business_id: business.id).last.id %>
    <% end %>

      <% if Favourite.where(user_id: current_user, business_id: business.id).last == ''%>
      <td rowspan="3" data-to-delete= '<%= getrid %>'  data-user= "<%=current_user.id %>" data-bus= "<%= business.id%>" class="empty_heart">

      <% elsif Favourite.where(user_id: current_user, business_id: business.id).last == nil%>
      <td rowspan="3" data-to-delete= ''  data-user= "<%=current_user.id %>" data-bus= "<%= business.id%>" class="empty_heart">

      <% else %>
      <td rowspan="3" data-to-delete= '<%= getrid %>'  data-user= "<%=current_user.id %>" data-bus= "<%= business.id%>" class="full_heart"">
      <%end %>


       </td>

    </tr>
  <tr>
    <td>
      Address
    </td>
    <td>
    <%=   business.business_address %>
    </td>
  </tr>

  <tr>
    <td>
      City
    </td>
    <td>
    <%#=   business.city.city_name %> Toronto
    </td>
  </tr>




  <tr>
    <td rowspan= '3'>
<%= button_to 'View '  + business.business_name, { action: "show", id: business.id  }, method: "get", class: 'viewbutton' %>
    </td>
  </tr>
<br>
  </table>
<br>
<br>

 </div>
<% end %>




<%= paginate @business%>
