
<body class="sign-up">
  <div class="sign-up-form">
    <h3>Log In!</h3>
    <br>

    <body class="image">

    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %> <br>
        <%= text_field_tag :email, params[:email] %>
      </div> <br>
      <div class="field">
        <%= label_tag :password %><br />
      <%= password_field_tag :password %>
      </div><br>


      <div class="actions">
        <%= submit_tag 'Create User', :class => 'submitting'%>
        <% end %>

      </div>

    </body>
  </div>
  <img class="arrow"></img>

</body>
