

<div class="centered_50">
<h1>Log in</h1>
  <%= form_tag sessions_path do %>
  <table class="centered_50">

    <tr>
      <td>
          <%= label_tag :email %><br />
      </td>
      <td>
          <%= text_field_tag :email, params[:email] %>
      </td>
    </tr>

      <tr>
        <td>
            <%= label_tag :password %><br />
        </td>
        <td>
            <%= password_field_tag :password %>
        </td>
      </tr>

  </table>

<div class="text_align">
    <%= submit_tag " Log in", class: 'button align' %>
</div>

  <% end %>


</div>
