<br>
<br>
<div class="centered_50">
  <h1>SIGN Up</h1>
  <br>
  <br>
  <%= form_for @user do |f| %>
  <table class="centered_50">
    <%= user = current_user %>
    <tr>
      <td><%= f.label :name%></td>
      <td>  <%= f.text_field :name, class: "form-control" %></td>
    </tr>

    <tr>
      <td>  <%= f.label :email %>  </td>
      <td>  <%= f.email_field :email, class: "form-control" %>
    </tr>

    <tr>
      <td>  <%= f.label :password %></td>
      <td>  <%= f.password_field :password, class: "form-control" %></td>
    </tr>

    <tr>
      <td>
        <%= f.label :password_confirmation %>
      </td>
      <td>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </td>
    </tr>

    <tr>
      <td>
        <br>
        <div class="text_align">  <%= submit_tag "       Sign Up", class: 'button fix' %>  </div>
      </td>
    </tr>

  </table>
  <% end %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
