
<div class="sign-up-form">

<h1> Contact Us </h1>

<%= form_tag "/contact_us" do %>
  <p>
    <%= hidden_field_tag request_forgery_protection_token.to_s, form_authenticity_token %>
  </p>
  <p>
    <%= label_tag :firstname %><br>
    <%= text_field_tag :firstname %>
  </p>
  <p>
    <%= label_tag :lastname %><br>
    <%= text_field_tag :lastname %>
  </p>
  <p>
    <%= label_tag :email %><br>
    <%= text_field_tag :email %>
  </p>

  <p>
    <%= label_tag :businessname %><br>
    <%= text_field_tag :businessname %>
  </p>

  <p>
    <%= label_tag :businessaddress %><br>
    <%= text_field_tag :businessaddress %>
  </p>

  <p>
    <%= label_tag :businessowner %><br>
    <%= check_box_tag :businessowner %>
  </p>

  <p>
    <%= label_tag :message %><br>
    <%= text_field_tag :message %>
  </p>

  <p>
    <%= submit_tag "Save", class: "brown_background" %>
  </p>
<% end %>
</div>
