<div class="centered">

<h2>Add business</h2>
<h4>Fill in the fields below to add your restruant</h4>


<%@business = Business.new %>
<%= form_for @business do |f| %>
  <br>
  <% if @business.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

    <ul>
    <% @business.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<table style="width:50%">

  <tr>
    <td><%= f.label :business_name %></td>
    <td><%= f.text_field :business_name %></td>
  </tr>
  <tr>
    <td><%= f.label :business_address %></td>
    <td><%= f.text_field :business_address%></td>
  </tr>

</table>
<br>

<%= f.submit %>
</p>

<% end %>


</div>
