<!DOCTYPE html>
<html>
  <head>
    <title>Bestfriendly</title>
    <%= csrf_meta_tags %>

  <script src="https://maps.google.apis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>&callback=initMap"
      async defer></script>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>


     <nav>
       <ul>
          <li><%= link_to "Home", welcome_path %> </li>
          <li><%= link_to "About Us", about_us_path %> </li>
          <li><%= link_to "Contact Us", contact_us_path %> </li>
          <li><%= link_to "Business", business_index_path %> </li>

         <% if current_user %>
         <li><span>Logged in as: <%= current_user.name %></span></li>
         <li><%= link_to 'Log Out', log_out_path, method: :delete %></li>
         <% else %>
         <li>  <%= link_to "Sign up", sign_up_path %> </li>
         <li>  <%= link_to "Log in", log_in_path %></li>
         <% end %>




       </ul>
     </nav>
   </header>

    <%= yield %>
  </body>
</html>
