<html>
  <head>
    <title>Bestfriendly</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all'%>
      <%= javascript_include_tag 'application' %>

  </head>



  <% flash.each do |name, msg| %>
<div class="centered yellow">
<%= content_tag :div, msg, :id => "flash_#{name}" %>
</div>
<% end %>

    <body>



<div class="nav_top">

  <div class="">
    <ul>
      <li class = 'nav hover'><%= link_to "Home", "/" %></li>
      <li class='nav hover'><%= link_to "About Us", about_us_path %> </li>
      <li class = 'nav hover'><%= link_to "Contact Us", contact_us_path, id:"contact-link" %></li>
      </ul>
  </div>
  <div class="upper_right">
  <%= image_tag('t', class: 'small_logo ')  %><%= image_tag('g', class: 'small_logo')  %><%= image_tag('fb',  class: 'small_logo')  %>
  </div>
</div>
<div class="center">
<%=image_tag"logo2.png", class:"logoimage" %>
  <div class="nav_top">
    <nav>
      <ul>
        <li class = 'nav hover'><%= link_to "Map", "/" %></li>
        <li class = 'nav hover'><%= link_to "Business List", businesses_path%></li>
       <li class='nav hover'><%= link_to "Offleash Toronto", offleash_toronto_path %></li>
       <li class='nav hover'><%= link_to "Trail Calculator", trail_calculator_path %></li>
        <% if current_user %>
            <li class='nav hover'><span class="c_gold">Logged in as: <%= current_user.name %></span></li>
            <li class='nav hover'><%= link_to 'Log Out', log_out_path %></li>
            <% else %>
            <li class='nav hover'>  <%= link_to "Sign up", sign_up_path %> </li>
            <li class='nav hover'>  <%= link_to "Log in", log_in_path %></li>
            <% end %>
        </ul>
    </nav>
</div>










<!--
      <div class="line">
        <div class="hover brown_background v overflow">
          <div class="bottom_bar">
            <div class="nav_top">
              <ul>
                <li class = 'nav'><%= link_to "Home", "/" %></li>
                <li class='nav'><%= link_to "About Us", about_us_path %> </li>
                <li class = 'nav'><%= link_to "Contact Us", "contact_us", id:"contact-link" %></li>
                </ul>
            </div>
            <div class="logo">
              <a href="index.html"><%=image_tag"logo2.png", class:"logoimage" %></a>
              <p class="slogan">Built for dog owners by dog owners</p>
            </div>
          </div>
        </div> -->



      <!-- <div class="brown_background">
        <div class="bottom_bar">
            <div class="nav_top">
              <ul>
                <li class = 'nav'><%= link_to "Home", "/" %></li>
                <li class='nav'><%= link_to "About Us", about_us_path %> </li>
                <li class = 'nav'><%= link_to "Contact Us", "contact_us", id:"contact-link" %></li>
                </ul>
            </div>
            <div class="logo">
              <a href="index.html"><%=image_tag"logo2.png", class:"logoimage" %></a>
              <p class="slogan">Built for dog owners by dog owners</p>
            </div>
            <nav>
              <ul>
                <li class = 'nav'><%= link_to "Home", "/" %></li>
                <li class = 'nav'><%= link_to "Business", businesses_path%></li>
                <li class = 'nav'><%= link_to "Contact Us", "contact_us", id:"contact-link" %></li>
                <li class='nav'><%= link_to "About Us", about_us_path %> </li>
               <li class='nav'><%= link_to "Offleash Toronto", offleash_toronto_path %></li>
                <% if current_user %>
                    <li class='nav'><span>Logged in as: <%= current_user.name %></span></li>
                    <li class='nav'><%= link_to 'Log Out', log_out_path %></li>
                    <% else %>
                    <li class='nav'>  <%= link_to "Sign up", sign_up_path %> </li>
                    <li class='nav'>  <%= link_to "Log in", log_in_path %></li>
                    <% end %>

                </ul>
            </nav>
        </div>
      </div>
  </div> -->

        <div class="modal">
            <form class="contactus" action="/contact-us" method="post">
                <button type="button" class="close">x</button>
                <p>
                  <%= hidden_field_tag request_forgery_protection_token.to_s, form_authenticity_token %>
                </p>
                <input type="text" id="first" name="FirstName" placeholder="FirstName">
                <input type="text" id="last" name="LastName" placeholder="LastName">
                <input type="text" id="email" name="E-Mail" placeholder="E-Mail">
                <input type="text" id="bname" name="BusinessName" placeholder="BusinessName">
                <input type="text" id="baddress" name="BusinessAddress" placeholder="BusinessAddress">
                <input type="textarea" id="message" name="Message" placeholder="Message">
                <input type="submit" class="submit"/>
            </form>
        </div>

        <div class="signinsignup">
  <div class="regsignin">
    <form class="signinform">
        <button type="button" class="close">x</button>
        <input type="text" name="user" placeholder="Username">
        <input type="password" name="pass" placeholder="Password">
        <button type="button" class="signinsubmit">Submit</button>
    </form>
  </div>

<p class="bfmain">New to Best Friendly? Register Now</p>

<div class="fbsigin">
  <p> Log in with Twitter account </p>
  <form class="fbform">
    <input type="text" name="user" placeholder="Username">
      <input type="password" name="pass" placeholder="Password">
      <button type="button" class="fbsubmit">Submit</button>
  </form>
</div>

</div>
    <%= yield %>
  </body>
  </html>
