<html>
  <head>
    <title>Bestfriendly</title>
    <%= csrf_meta_tags %>

  <script src="https://maps.google.apis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>&callback=initMap"
      async defer></script>

  </head>
  <body>

    <header>

          <div class="logo">
          <div>
          <nav>
            <ul>
              <li class = 'nav'><%= link_to "Home", "/" %></li>
              <div class="dropdown">
                <button class="dropbtn">Business</button>
                <div class="dropdown-content">
                  <a href="#" class="ls">Liquor Store</a>
                  <a href="#" class="bs">Book Store</a>
                  <a href="#" class="ds">Department Store</a>
                  <a href="#" class="hs">Hardware Store</a>
                  <a href="#" class="ta">Travel Agent</a>
                  <a href="#" class="gs">Garden Store</a>
                  <a href="#" class="eye">Eyewear</a>
                  <a href="#" class="ms">Music Store</a>
                  <a href="#" class="bank">Bank</a>
                  <a href="#" class="so">Service Ontario</a>
                  <a href="#" class="sc">Service Canada</a>
                  <a href="#" class="ps">Pet Shop</a>
                  <a href="#" class="cafe">Cafe</a>
                </div>
              </div>

                   <li class='nav'><%= link_to "About Us", about_us_path %> </li>
                   <li class='nav'><%= link_to "Contact Us", contact_us_path, id: "contact-link"  %> </li>
                   <li class='nav'><%= link_to "Offleash Toronto", offleash_toronto_path %></li>

                  <% if current_user %>
                  <li class='nav'><span>Logged in as: <%= current_user.name %></span></li>
                  <li class='nav'><%= link_to 'Log Out', log_out_path, method: :delet %></li>
                  <% else %>
                  <li class='nav'>  <%= link_to "Sign up", sign_up_path %> </li>
                  <li class='nav'>  <%= link_to "Log in", log_in_path %></li>
                  <% end %>

                </ul>
              </nav>

              <!-- <li><%= link_to "Contact Us", "contact-us", id:"contact-link" %></li>
              <li><%= link_to "About Us", "about_us" %></li>
              <li><%= link_to "Offleash toronto", "offleashtoronto" %></li>
              <li><a id="signin-link" href="signin.html">Sign In</a></li> -->

              <!-- <li class = 'nav'><%= link_to "Contact Us", "contact-us", id:"contact-link" %></li>
              <li class = 'nav'><%= link_to "About Us", "about_us" %></li>
              <li class = 'nav'><%= link_to "Offleash Toronto", "offleash_toronto" %></li>
              <li class = 'nav'><a id="signin-link" href="signin.html">Sign In</a></li> -->

            <!-- </ul> -->
          <!-- </nav> -->
          </div>
        </header>

        <div class="modal">
            <form class="contactus" action="/contact-us" method="post">
                <button type="button" class="close">x</button>
                <p>
                  <%= hidden_field_tag request_forgery_protection_token.to_s, form_authenticity_token %>
                </p>
                <input type="text" id="first" name="FirstName" placeholder="FirstName">
                <input type="text" id="last" name="LastName" placeholder="LastName">
                <input type="text" id="email" name="E-Mail" placeholder="E-Mail">
                <input type="text" id="bname" name="BusinessName" placeholder="BusinessName">
                <input type="text" id="baddress" name="BusinessAddress" placeholder="BusinessAddress">
                <input type="textarea" id="message" name="Message" placeholder="Message">
                <input type="submit" class="submit"/>
            </form>
        </div>

        <div class="signinsignup">
  <div class="regsignin">
    <form class="signinform">
        <button type="button" class="close">x</button>
        <input type="text" name="user" placeholder="Username">
        <input type="password" name="pass" placeholder="Password">
        <button type="button" class="signinsubmit">Submit</button>
    </form>
  </div>

<p class="bfmain">New to Best Friendly? Register Now</p>

<div class="fbsigin">
  <p> Log in with Twitter account </p>
  <form class="fbform">
    <input type="text" name="user" placeholder="Username">
      <input type="password" name="pass" placeholder="Password">
      <button type="button" class="fbsubmit">Submit</button>
  </form>
</div>

</div>
    <%= yield %>
  </body>
</html>
